---
network_netplan_eth_mac: aa:bb:cc:dd:ee:ff
network_netplan_wifi_ssid: MyNetwork
network_netplan_wifi_password: secret

immich_db_password: REPLACE-IMMICH-DB-PASSWORD

storage_drives:
  - name: main
    keys_part_uuid: "REPLACE-MAIN-KEYS-PART-UUID"
    keys_mountpoint: /mnt/main_keys
    luks_uuid: "REPLACE-MAIN-LUKS-UUID"
    keyfile: none
    mountpoint: /mnt/main
    fstype: xfs
  - name: backup
    keys_part_uuid: "REPLACE-BACKUP-KEYS-PART-UUID"
    keys_mountpoint: /mnt/backup_keys
    luks_uuid: "REPLACE-BACKUP-LUKS-UUID"
    keyfile: none
    mountpoint: /mnt/backup
    fstype: xfs
